<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/pixelmatch.js" defer></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div>
      <button id='start'>
        start
      </button>
    </div>
  <video id="localVideo" autoplay muted></video>
  <canvas id='localCanvas'></canvas>
    <div id='canvases'>
      <canvas id='oldCanvas'></canvas>
      <canvas id='newCanvas'></canvas>
      <canvas id='diffCanvas'></canvas>
      <canvas id='areaCanvas'></canvas>
    </div>
  <div style='position: relative;'>
    <video id="remoteVideo1" style='position: absolute;' autoplay muted></video>
    <video id="remoteVideo2" style='position: absolute' autoplay muted></video>
  </div>
  <img id='remoteImage' />
  </body>
</html>
