/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

video{
 width: 500px;
height:250px;
  background-color: transparent;
}



#canvases canvas
{
  display: inline;
  width:20%;
}

#start {
 position:absolute;
  z-index:10;
}

#remoteCanvasWrapper
{
  background: #000;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  text-align:center;
}

#remoteCanvas {

}